<?xml version="1.0" encoding="utf-8"?>
<!--
  Azure App Service Windows configuration for Node.js Express & Angular SPA
-->
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <!-- Inform IIS that the server.js file is a Node.js site to be handled by iisnode -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Do not interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <!-- Always route API and Swagger documentation directly to Node.js (iisnode) -->
        <rule name="PassThroughApiAndSwagger" stopProcessing="true">
          <match url="^(api|api-docs)" />
          <action type="Rewrite" url="server.js" />
        </rule>

        <!-- First try to serve request from public/ directory directly -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="([\S]+[.](html|htm|svg|js|css|png|gif|jpg|jpeg|ico|json|woff|woff2|ttf|pdf|txt))$" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="^/(api|api-docs)" negate="true" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}" />
        </rule>

        <!-- All other URLs are mapped to the node.js site entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>

    <!-- Static content MIME types -->
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>

    <!-- Exclude node_modules and logs from being browsable -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
          <add segment="node_modules"/>
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Custom iisnode logging settings -->
    <iisnode
      node_env="production"
      debuggingEnabled="false"
      loggingEnabled="true"
      logDirectory="iisnode"
      watchedFiles="web.config;*.js"
    />

    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
